header
	nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
		a(href="#").navbar-brand TP Node JS
		button(type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
			span.navbar-toggler-icon
		div#navbarCollapse.collapse.navbar-collapse
			ul.navbar-nav.mr-auto
				- var clase1 = "nav-item";
				- var clase2 = "nav-item";
				- var clase3 = "nav-item";
				- var clase4 = "nav-item";
				
				- if(mnuOption == '1'){ clase1 = 'nav-item active';}
				li(class=clase1)
					a(href="/").nav-link Consigna TP
				- if(mnuOption == '2'){ clase2 = 'nav-item active';}
				li(class=clase2)
					a(href="/alumno").nav-link Datos Alumno
				- if(mnuOption == '3'){ clase3 = 'nav-item active';}
				li(class=clase3)
					a(href="/productos").nav-link Consulta de Productos
				- if(mnuOption == '4'){ clase4 = 'nav-item active';}
				li(class=clase4)
					a(href="/contacto").nav-link Contacto