doctype html
html
	include ./layouts/header.jade    
	body
		include ./layouts/mnu_top.jade

		main(role="main")
			div.row.mb-5.mt-5
				div.col-xs-1.col-sm-1.col-md-1.col-lg-1
				div.col-xs-10.col-sm-10.col-md-10.col-lg-10
					br
					h1 Alumno
					small.blockquote-footer Aqu&iacute; veremos un ejemplo de p&aacute;gina est&aacute;tica con los datos del alumno.

					div.row.mt-4
						div.col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
							div(style="width: 50rem;").card.bg-light
								div(style="background-image: url('/img/node.png'); background-repeat: no-repeat; background-size: 100%;").card-header.text-center
									img(src="/img/img_perfil.jpg", style="width: 200px;").rounded-circle.border.border-dark
								div.card-body
									h4.card-title Guido Pardo
									p.card-text Me apasiona la programaci&oacute;n tanto como el hecho de crear aplicaciones desde cero para resolver problemas cotidianos.
									ul.list-group.list-group-flush
										li.list-group-item.text-left
											h5 Correo:&nbsp;
											small guidopardo@gmail.com
										li.list-group-item.text-left
											h5 T&iacute;tulo:&nbsp;
											small Tecnico en Desarrollo Web - UNLaM


				div.col-xs-1.col-sm-1.col-md-1.col-lg-1

		include ./layouts/footer.jade